[primary]
localhost ansible_connection=local

[secondary]

[database]

[all:vars]
admin_password='{{ admin_password }}'
redis_password='{{ redis_password }}'

pg_host=''
pg_port=''

pg_database='awx'
pg_username='awx'
pg_password='{{ postgres_password }}'
